# Missing Values in DataFrames

Missing values in pandas Dataframes are represented as `NaN` (Not a Number). 

A Dataframe may have `NaN` values in different columns, which may  create issues in data analysis. 

To address missing values, we start with a CSV file that contains some missing values.

In [4]:
# Loading the sales.csv file

We now use different approaches to deal with missing values

## Dropping missing values

One approach is to drop all the records (i.e., rows) with any `NaN`, by using `dropna()` function to return a DataFrame without rows that have `NaN` values.

Note that this will not affect the original `sales` DataFrame.

We can assign it to a new DataFrame.

In [1]:
# Assign the dataframe to a new DataFrame named sales_no_na

Alternatively, if we want the Dataframe to change we should add the argument `inplace` and set it to `True`:

* `df.dropna(inplace=True)`

For any particular **column**, we may filter out the **rows** that have missing values.

* First, use the `notna()` function to determine if each row of **the column** is <u>**not** a missing value</u>
* Then, use `df[condition]` to get all rows of the DataFrame that does not have a missing value in **the column**

In [6]:
# Focus on the column "stores"

In [8]:
# Filter out all rows of the DataFrame that do not have a missing "stores" values

**Note**: the condition `sales['stores'].notna()` has values True and False. 

The True values are returned, which are indexes 0, 1, 2, 3, 4 and 6. The above code is equivalent to `sales[[0, 1, 2, 3, 4, 6]]`

The function `isnull()` can find out which values are missing.
* This function can be applied to the entire DataFrame

This function is useful for counting the missing values in each column, when used with the `sum()` function

The above indicates that the variables 'stores' and 'march' had each 1 missing value, variables 'january', 'february' and 'april' had each 2 missing values.

**Question**: What are some disadvantages of dropping missing values?

## Imputing missing values

Instead of filtering out records with NaN, one approach is to fill them in with another value.

Different values could be used. Focusing on a particular column, we can use:

* the average
* the median
* the mode

of all non-`NaN` values in the column.

To do that, we can use the `fillna()` function. 

Inside the `()` should be the value to replace `NaN` with.

In [ ]:
# In the 'stores' column, replace the NA's by 'unknown_store'

Suppose we would like to impute the missing values of all numerical variables by the **average** of their corresponding column. 

We can do:

In [ ]:
# Use inplace=True to change the original DataFrame; 
# use numeric_only=True to ignore the non-numeric columns

**Notes**: 

1. By using the key word argument `numeric_only=True`, we make sure that the `mean()` function is only applied to the numeric columns only. If we had a missing value in the 'stores' variable, that missing value would not have been imputed by the average since its corresponding column does not have any average.

2. This operation will use the average of each column to impute the missing values of that column only.

3. This operation will change the DataFrame itself when we used the argument `inplace = True`. 

4. An alternative is to apply the `fillna()` function to each variable of the DataFrame separately, with separate values

5. We can impute all columns by the median also, in this case, we would use the `median()` function instead of the mean() function

## Using regression for imputing

The following regression-based procedure can be used to impute missing values.

1.	Identify the variable with missing values in it.

2.	Only select the rows from the dataset, where there are no missing values in this variable.

3.	Assume this variable is your dependent (target) variable and other variables are the features.

4.	Develop a linear regression model and use it to predict the missing values of the target (the variables with missing values).

This topic will be discussed visually in the lecture with more details (time permitting).

The scikit-learn library implemented several imputers, see the documentation at https://scikit-learn.org/stable/modules/impute.html

# Handling Duplicated Data

Data cleaning often needs to identify and remove duplicated data.

For example, in the file 'sales_duplicated.csv', there are some duplicated records. Let's first load the file.

We can figure out if each row in the dataframe is a duplicate of another row using the `duplicated()` method of the DataFrame. 

It returns an array of True and False .
* False if the row is not a duplicate 
* True if it is.

We can then remove any duplicates from the dataframe by using the `drop_duplicates()`
* Use `inplace=True` to modify the dataframe

We can reset the indexes after dropping the duplicated rows