# Basics of Python Coding

## Python as a calculator

To use Python as a calculator, we can simply enter the expressions of mathematical operations. For example, we calculate 1+1 in the following cell.

In [3]:
1+1

2

We can have multiple lines of math operations in a cell. Each line will be executed sequentially, but only the results of the last line will be displayed

In [4]:
1+1
1+2
1+3

4

To display the result of each line, we may use the "print" function.

In [5]:
print(1+1)
print(1+2)
print(1+3)

2
3
4

Often times we need to store the value from a calculation in a variable. 

In the following cell, we calculate $1+2^3$ and assign the result to a variable named `res`.

Then we use Python's **f-string** to display the result by combining a string with the value to make it more readable. 

Note that 2**3 means $2^3$ in Python.

In [6]:
2**3

8

## Importing libraries

A Python library is a collection of related functionality of codes that allows you to perform many tasks without writing your code. Each library extends the basic capability of Python. To use a function from a library, we need to install and import it. Note that a library just needs to be installed once. Some libraries are installed during the installation of Anaconda. In such cases, we do not install them again. 

Let us import the `math` library to perform more complex mathematical operations. To see the content of a library, we can use the command `help('name_of_library')`. Since the output can be quite long, we commented out the `help` command to save some space by using the `#` symbol. You can uncomment reveal the output.

**Notes**: 

1. The convention is to place the "import" command in the beginning of the document. But it will work as long as you import before using the library

2. Note that in any code cell, any thing following the # symbol in a line is a comment, which will not be executed by Python when you run the cell.

In [7]:
# This is a comment. Anything after the "#" symbol in a line is a comment. 
# Comments are just for readability of the codes 
# and will be ignored by the Python interpreter when you run the cell.
# Note that this is very different from a markdown cell, which use "#" to create a heading.

# Import the math library

import math

# help('math') ##uncomment to see the content of the "math" library

We can now use the functions in the "math" library. Below, we use the sinusoidall function from "math".

In [8]:
math.sqrt(99)

9.9498743710662

If we only need one function from a library, we can use `import name_of_fuction from name_of_library`.

In the following, we first import the `sqrt` function for calculating square roots, and then use it for a calculation.

In [9]:
# import the square root function from the math library
from math import sqrt

In [11]:
# Now we can use sqrt() without the prefix "math."
sqrt(16)

4.0

## Data types and structures in Python

### Basic data types
Python has the following commonly-used basic data types:

* Text Type:	`str`
* Numeric Types:	`int`, `float`, `complex`
* Boolean Type:	`bool`

Let's create a variable of each type. 
As an example, we will create the following variables

* `name`: The person's name. The type is `str`
* `age`: The person's age. The type is `int`
* `height`: The person's heigh in m. The type is `float`
* `weight`: The person's weight in kg. The type is `float`
* `is_normal`: Tells if the person's BMI is normal

The task: Calculate the person's BMI and print the following message.

* _____'s BMI is ____. It is _____ that the BMI is normal.

In [13]:
# Parameters
name = 'Jack' 
age = 36
weight = 75
height = 1.82

# Calculation

bmi = weight/height**2

result = str(bmi < 25).lower()

print(f"{name}'s bmi is {bmi}, it is {result} that the bmi is normal")

Jack's bmi is 22.6421929718633, it is true that the bmi is normal

In the above, the expression `bmi<25` returns the boolean value `True`. We then use the function `str()` convert this boolean value into the string `True`. Note that `name_of_a_data_type()` will convert the input variable to the corresponding data type.

The f-string is used in the print function above. f-string uses the letter f followed by texts between quotation marks. The advantage of f-string is that it can mix string with variables.

### Data structures that can store many values
Python stores and represents data that consists of multiple values using different structures. Some common data structures are:

* Sequence Types:	`list`, `range`, `tuple`
* Set Types:	`set`
* Mapping Type:	`dict`

#### Lists
Let us first construct a list and assign it to a variable. Observe the **square** brackets that indicate the item created is a list.

In [14]:
my_list = [10,12,17,19,42]

The list `my_list` has 4 elements, and thus four indexes. Since the index starts with 0, the index for the first element of the list (number 20) will be 0. In order to call an element of the list we will use the **square bracket**.

In the following, we first use the function `len(name_of_list)` to get the length of `my_list`, and then extract each element by calling on its index.

In [15]:
# find the length of my_list 
len(my_list)

5

In [16]:
# Get the first element
my_list[0]

10

In [17]:
# Get the fourth element
my_list[3]

19

We can call a range of the list using `start_index:end_index`
* The element at the starting index is returned
* The element at the ending index is not returned. For example, `my_list[0:3]` will return elements with indexes 0, 1 and 2, but not 3.

* `start_index` and `end_index` can be omitted
    * If `start_index` is omitted, it is set to 0 by default
    * If `end_index` is omitted, all elements from `start_index` to the last element will be includedend

In [18]:
my_list[0:3]

[10, 12, 17]

Negative index can be used; the index $-k$ points to the $k^{th}$ element from the end

In [19]:
# The following will return the last element, and the second-to-last element of my_list
my_list[-1]

42


The elements of a list does not have to be numbers. We can have lists of strings (i.e., texts), lists of boolean values, etc.

In [20]:
# List of strings representing universities names
list_strs = ['McMaster','McGill', 'U of T']
list_strs

['McMaster', 'McGill', 'U of T']

In [21]:
# List of booleans
list_bool = [True, False, True, False]
list_bool

[True, False, True, False]


**Some functions and methods** that take a list as its input and returns some attributes of the list:
* Length of list: `len(name_of_list)`
* Maximum number in the list: `max(name_of_list)`
* Smallest number in the list: `min(name_of_list)`
* Summation of all numbers in the list: `sum(name_of_list)`
* Append a value to the list at the end: `name_of_list.append(value_to_append)`

In [22]:
#First display the content of my_list, then we calcualte its length, maximum value, minimum value, and the summation of all values in the list
print(my_list)
sum(my_list)

[10, 12, 17, 19, 42]

100

In [23]:
# We will now append a value 32 to my_list
my_list.append(32)
my_list

[10, 12, 17, 19, 42, 32]

**Question**: What if we want to insert an element in the beginning? Remove an element?

In [24]:
#Insert the new element 10 at the index 0
my_list

[10, 12, 17, 19, 42, 32]

In [25]:
#Remove the element at the index 2 from my_list using the pop function
my_list.pop(2)

17

#### Range

A range is a sequence of consecutive number from a beginning value to an ending value. For example, `range(2,10)` is the sequence of number 2,3,4,5,6,7,8,9.

In [27]:
a_range = range(10)
list(a_range) #This converts the range to a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Question**: How to quickly generate the list $[1,\sqrt{2},\sqrt{3},...,\sqrt{100}]$?

#### Set 
A set is a collection of item (strings, numbers, booleans, etc.). We can define a set by including its elements between a pair of curly brackets.

In [13]:
# The following defines a set of strings for different fruits

We can check if two sets are the same, or if one is a subset/superset

#### Dictionary

A dictionary is a set of key-value pairs

The following is a dictionary data structure. A dictionary data structure is a data structure that associates **values** to *unique* **keys**. You can think of keys as <u>unique identifiers</u>. An actual dictionary could be an example for a dictionary data structure with words being the keys and definitions being values. For example, in Canada, the SIN number is the key with a person's first name and last name, etc. being the values attached to it.

To create a dictionary, please note it should start and end with <u>curly brackets</u> (braces). The keys (labels) should be between <u>quotes</u>, and the keys and the values are separate by a <u>colon</u>. The key/value pairs are separated by <u>commas</u>.
Notice there are 5 key/value pairs in the following dictionary, and the pairs are separated by commas. For example, in the first pair, 'type' is the key and 'car' is the value. The key and value could be of different types (strings, integers, etc.)

Notice there are 5 key/value pairs in the following dictionary, and the pairs are separated by commas. For example, in the first pair, 'type' is the key and 'car' is the value. The key and value could be of different types (strings, integers, etc.).

Notice how any text is placed inside quotes (single or double) but numbers are not placed between quotes. Anything that is placed between quotes is assumed to be a string/text in Python.



To **Access** the values of a dictionary, use `name_of_dict[key]`

For example, calling the values for the colour and year can be done as follows. Observe the <u>square brackets</u> that will hold the key, the <u>quotes</u>, the <u>upper case/lower case</u>, etc.

The len() function (length) will return the length of the dictionary in terms of number of keys.

Another example:

In [28]:
cars_dict = {'type':'car', 'brand':'Toyota', 'model':['Corolla', 'Camry'], 'Colour':['Black', 'blue'], 
'Year': [2014, 2021]}

Let's call the value for 'Year', which will be a list of values. The value to a key could even be another dictionary.

In [29]:
cars_dict['Year']

[2014, 2021]

An alternative way to create a dictionary, by "zipping" together keys and values

In [14]:
# Define the values

# Define the keys

# Zip them together to form a dictionary

In [31]:
%%html
<style type="text/css">
.CodeMirror{
    font-size:14px;
}

</style>