# Reading and Writing CSV files in pandas

## Reading a CSV file in pandas

The `pandas.read_csv()` function load data from a csv file. 
* The result is a pandas Dataframe.

We need to provide the file path and name to this function
* If the file is in the working directory, we can use just the file name; `pandas.read_csv(file_name)`
* If not, we must provide the file path `pandas.read_csv(file_path)`

In [1]:
# Use file name only if file is in the working directory

In [2]:
# Use file path

Use `df.head()` to show the first 5 rows of data (or you can specify how many rows to view)

In [20]:
youtube_data_copy.head()

,video_id,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
0,a-4_6bThk2E,666861,16006,916,3686,False,False
1,5O6iNs0cEIU,239156,1598,252,327,False,False
2,RF-Mqs2qC-M,175490,9514,245,1070,False,False
3,YPR8K4TQ88M,1233755,8823,268,156,False,False
4,HQw0LJbwHY4,108850,730,46,67,False,False

By default, the first row in the csv file is used as the header of the DataFrame.

If it should not be used as the header, use the argument `header=None`

We can also replace the header in the csv by setting `header=0` and providing a list of column names to use as the header

**Note**: `header = 0` means that we overwrite the original header with the provided names

Given a DataFrame, we can use `pandas.to_csv()` to convert it a csv file

The file data.csv will be created in the current directory (where the notebook is opened or started).

The CSV file created has an additional column added as Index. 
* If we would like to remove the Index column we need to add the argument index and set it to False.